.mask {
  @include flex();
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #00000088;
}

.dialog {
  margin: auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
}