.kanban__group {
  margin-bottom: 1rem;
  width: 200px;
  text-align: left;
}

.kanban__title {
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #aaaaaa;
}

.kanban__item {
  @include flex(row, space-between);
  padding: 10px;
  border-radius: 5px;
  transition: all 0.5s;

  &:hover {
    background-color: #04283f;
    cursor: pointer;
  }

  .content {
    line-height: 30px;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
  }
}