.section {
  width: 100%;
  max-height: 560px;
  overflow: auto;
}

.user,
.no-collect {
  @include flex(column);
}

header {
  padding: 0.4rem 0;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #00000044;
  span {
    font-size: 1.6rem;
  }
}

body {
  width: 100%;
  min-height: 600px;
}

.no-collect {
  img {
    margin: 1rem;
    width: 280px;
    height: auto;
  }
}