.kanban__header__title {
  @include flex(row, space-between, center);
  margin: 20px 60px;
  padding-bottom: .6rem;
}

.kanban__name {
  @include flex(row, space-between);
  span {
    margin-left: 1rem;
    font-weight: bold;
  }
}

.kanban__follow button {
  color: #fff;
  width: 64px;
  height: 44px;
  border-radius: 10px;
  border: none;
  background-color: #3397cf;
  &:hover {
    opacity: .8;
  }
}
