@mixin icon {
  font-size: 1.4rem;
  color: #00000033;
  cursor: pointer;
  &:hover {
    opacity: .8;
  }
}

article {
  @include flex(row);
  border-bottom: 1px solid #00000033;
  width: auto;
  text-align: left;
  cursor: pointer;
}

.wrapper {
    @include flex(column, space-evenly, flex-start);
    width: 80%;
    height: 140px;

  span{
    font-size: .9rem;
    color:#545454;
    font-weight: bold;
  }
  
  h3 {
    width: 90%;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  p {
    width: 100%;
    color:#868686;
    font-size: .9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  footer {
    @include flex(row, space-between);
    width: 40%;
    * {
      font-size: 1rem;

      &:hover {
        opacity: .8;
      }
    }
    .mood {
      color: #c84865;
    }
    .react {
      color: #339af0;
    }
    .collect {
      color: #ee7832;
      opacity: .5;
    }
  }
}

.picture {
  width: 15%;
  height: auto;
  img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

.detail {
  overflow: auto;
  height: calc(100vh - 50px);
}

.main {
  padding: 2rem 4rem;
  min-height: calc(100vh - 50px);
  text-align: left;
  font-weight: bold;

  .username {
    height: 50px;
    font-size: 1.2rem;
    color: #444
  }
  .title {
    font-size: 1.6rem;
  }
}

.subtitle {
  height: 50px;
  @include flex(row, space-between);

  span:nth-child(1) {
    color: $btnBlue;
    cursor: pointer;
  }

  span:nth-child(2) {
    color: #999;
  }
}

.comments__item {
  width: 100%;
  padding: .4rem 4rem;
  border-bottom: 1px solid #dddddd;
  text-align: left;
  background-color: #f2f2f2;

  span:nth-child(1) {
    font-weight: bold;
    margin-right: 1rem;
  }
}

.bottom {
  position: absolute;
  padding: 0 4rem;
  bottom: 0px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 24px 0;
  background-color: #fff;

  .close {
    top: 1rem;
    right: 1rem;
    text-align: right;
    cursor: pointer;
  }
}

.reaction {
  @include flex(row, space-between);
  line-height: 50px;

  span {
    width: 70px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .react {
    width: 400px;
    height: 50px;
    text-align: left;
    cursor: text;
  }

  .user {
    font-size: 1.4rem;
    color: #38c7da;
  }
  
  .icon {
    @include icon;
  }
}

textarea {
  width: 100%;
  height: 100px;
  outline: none;
  border: none;
}

.submit {
  height: 50px;
  line-height: 50px;
  text-align: right;
  border-top: 1px solid #00000033;
}

button {
  padding: .4rem .8rem;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 10px;
  background-color: $skyBlue;
  outline: none;

  &:hover {
    opacity: .8;
  }
}

.opacity {
  opacity: 1 !important;
}
