#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  overflow-x: hidden;

}
.body {
  padding: 80px 30px;
  width: 100%;

}
.layout__main {
  @include flex(row, space-between, flex-start);
  margin: 0 auto;
  max-width: 1280px;
  height: 1300px;
}

.aside {
  min-width: 200px;
}

.router__view {
  margin: 0 20px;
  min-width: 460px;
  width: 100%;
  height: 100%;
  background-color: white;
}

.facebook {
  position: relative;
  width: 280px;
  min-width: 280px;
  height: 130px;
  border: none;
}

iframe {
  position: relative;
  right: 0px;
  width: 280px;
  min-width: 280px;
  height: 130px;
  border: none;
}
