.message {
  position: absolute;
  top: 20px;
  left: calc(50% - 150px);
  padding: 0.6rem;
  width: 300px;
  color: #f56c6c;
  text-align: left;
  border: 1px solid #e29393;
  border-radius: 4px;
  background-color: #fde2e2;

  span {
  font-size: 14px;
  }
}

.message-enter {
  opacity: 0;
  transform: translateY(-30px);
}

.message-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.message-enter-active,
.message-leave-active {
  transition: all .5s;
}