.login {
  @include flex(column, flex-start);
  margin: 0;
  padding-top: 120px;
  background-color: $darkBlue;
  width: 100vw;
  height: 100vh;
}

.title {
  @include flex();
  width: 100%;
  h1 {
    color: #fff;
    font-size: 1.5rem;
  }
}

.tabs {
  @include flex();
  width: 500px;
  margin-top: 40px;
  .tab {
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: $seaBlue;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    transition: all .2s;
  }
}

.active {
  background-color: $skyBlue !important;
}

.window {
  @include flex(column, space-between);
  padding: 1rem;
  width: 500px;
  // height: 350px;
  color: #fff;
  background-color: $skyBlue;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  span {
    font-size: 1rem;
  }

  input {
    font-size: .9rem;
    padding: .2rem;
    width: 220px;
    height: 2rem;
    border-radius: .2rem;
    border: none;
    margin: 1rem;
    outline: none;
  }

  button {
    margin: 1rem;
    width: 120px;
    padding: .6rem;
    background-color: $seaBlue;
    border: none;
    border-radius: 100px;
    color: #fff;
    outline: none;
    transition: all .2s;
    &:active {
      transform: scale(.95);
      background-color: $darkBlue;
    }
  }
}